In [158]:
def add (x,y):
    c= x+y
    return (c)

In [159]:
a1=add(34,54)
print(a1)

88

In [160]:
def sub (x,y):
    c=y-x
    return (c)

In [161]:
b1 = sub(78,48)
print (b1)

-30

In [162]:
def add1(*args):
    for i in args:
        print (i)

In [163]:
add1 = (24,34,54,64)

In [164]:
add1

(24, 34, 54, 64)

In [165]:
def add2 (*args):
    s=0
    for i in args:
        s=s+i
    return (s)

In [166]:
sum1 =add2(26,374,283,939)
sum1

1622

In [169]:
def multiply (x,*args):
    s=1
    for i in (args):
        s=s*i
    return (s)

In [171]:
m1 = multiply (2,5,7,9,2,3,7)
m1

13230

In [174]:
def multiply (x,*args):
    s1=1
    for i in (args):
        s1=s1*1
    return (s1)

In [177]:
m2 = multiply (2,5,7,9,4)
m2

1